@page "/circles/{CircleId}/skills"
@inject IHttpClientFactory HttpClientFactory

@using circles.api.contracts.Skills.Queries

<h2>Skills</h2>

<LoadingTag Loading="@_loading" />

<NavLink class="nav-link" href="@($"circles/{CircleId}")">Circle</NavLink>


@if (skills != null)
{
        <ul>
        @foreach (var skill in skills)
        {
                    <li>@skill.Denomination</li>
        }
        </ul>
}

<CircleSkillForm CircleId="@CircleId" />

@code {
    bool _loading;
    [Parameter, EditorRequired]
    public string CircleId { get; set; } = string.Empty;

    List<CircleSkillGetListResult>? skills;

    protected override async Task OnInitializedAsync()
    {
        await GetItems();
    }

    public async Task GetItems()
    {
        _loading = true;
        var httpClient = HttpClientFactory.CreateClient(CirclesConfiguration.DefaultHttpClient);

        skills = await
        httpClient.GetFromJsonAsync<List<CircleSkillGetListResult>>($"api/v1/circles/{CircleId}/skills?circleId={CircleId}");
        _loading = false;
    }
}