@inherits LayoutComponentBase
<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    @context.User.Claims.FirstOrDefault(c => c.Type == "given_name")?.Value

                </div>
                <article class="content px-4">
                    @Body
                </article>
            </main>

        </Authorized>
        <NotAuthorized>
            <article class="content px-4">
                @Body
            </article>

        </NotAuthorized>

    </AuthorizeView>
</div>
