@page "/circles/{CircleId}/members/add"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager Navigation

<h3>Add a new member</h3>

<div>
    <Message @ref="messageComponent" />
</div>

<EditForm Model="formParams" OnValidSubmit="AddCircle" FormName="add">

    <div class="form-floating mb-3">
        <input id="Email" type="email" placeholder="Email" @bind="formParams.Email" class="form-control"
            autocomplete="off">
        <label for="Email" class="form-label">Email</label>
    </div>

    <div class="form-floating mb-3">
        <input id="Name" type="text" placeholder="Name" @bind="formParams.Name" class="form-control" autocomplete="off">
        <label for="Name" class="form-label">Name</label>
    </div>

    <div class="form-floating mb-3">
        <button type="submit" class="btn btn-lg btn-primary" disabled="@_loading">Add</button>
    </div>

</EditForm>


@code {

    bool _loading;
    [Parameter, EditorRequired]
    public string CircleId { get; set; } = string.Empty;
    private Message messageComponent = new();

    private AddFormParams formParams { get; set; } = new();

    public async Task AddCircle()
    {

        _loading = true;
        formParams.CircleId = CircleId;

        var httpClient = HttpClientFactory.CreateClient(CirclesConfiguration.DefaultHttpClient);

        // Make the POST request
        var response = await httpClient.PostAsJsonAsync("/api/v1/members", formParams);

        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo($"circles/{CircleId}/members");
        }
        else
        {
            messageComponent.ShowMessage("An error has happened while creating the Member", 3);
        }
        _loading = false;
    }

    public class AddFormParams
    {
        public string CircleId { get; set; } = string.Empty;
        public string Email { get; set; } = string.Empty;
        public string Name { get; set; } = string.Empty;
    }
}